* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    background-color: rgb(142, 199, 253);
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.item {
    background-color: rgb(77, 138, 250);
    border: 3px solid blue;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    
}

#item-1 {
    flex-basis: 300px;
}

#item-2{
    flex-shrink: 2;
}

#item-3{
    flex-grow: 2;
}

#item-4{
    flex:3;
}