.item-list{
    list-style-type: none;
    padding: 0;
}

.item-list li{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    padding: 1.25rem;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    font-size: 1.25rem;
}