.report-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 1.5rem;
}

.report-container > div {
    flex: 1;
    text-align: center;
}

.report-container > div:first-of-type {
    border-right: 2px solid #dedede;
}

.report-container > div:last-of-type {
    border-left: 2px solid #dedede;
}

.report {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin: 1.25rem 0;
}

.report.total-income {
    color: #2ecc71;
}

.report.total-expense {
    color: rgb(250, 86, 86);
}