.box{
    width: 100px;
    height: 100px;
    background-color: rgb(130, 163, 255);
    border: 3px solid blue;

    /* 
        translate(x,y)
        scale(x,y)
        rotate()
        skewX()
        skewY()
    */

    /* move object box */
    transform: translate(200px,200px) rotate(30deg) scale(2,2) skew(15deg,10deg);
    /* transform: skewX(30deg) skewY(30deg); */
}