.item{
    padding: 3rem;
    border: 2.5px solid white;
    background-color: rgb(129, 183, 245);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

/* 
    display: grid
    grid-template-rows: (height)
    grid-template-column: (width)
*/

.grid-container{
    display: grid;
    grid-template-rows: repeat(4,100px);
    grid-template-columns: auto auto auto auto;
    
} 

.item:first-child{
    background-color: rgb(96, 96, 184);
    /* grid-column-start: 1;
    grid-column-end: 5; */
    grid-column: 1/span 4;

    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1/span 2;
} 

.item:last-child{
    background-color: rgb(96, 96, 184);
    /* grid-column: 1/5; */
    grid-column: 1/span 4;
}
